<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <!-- componente per la singola ricetta in lista -->
    <!-- con ngFor si itera sulle varie ricette contenute nell'array 'recipes' -->
    <!-- ogni ricetta, attravero la custom property [recipe], viene passata ai vari componenti figli recipe-item -->
    <!-- recipeSelected è l'evento emesso dal recipe-item una volta che viene cliccata una ricetta -->
    <app-recipe-item
      *ngFor="let recipeEl of recipes"
      [recipe]="recipeEl"
    ></app-recipe-item>
  </div>
</div>
